@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-6;
  }
}

@layer components {
  .hero-section {
    @apply h-dvh bg-[url('/images/home/hero-banner-img.jpg')] bg-cover bg-center bg-no-repeat flex justify-center items-center;
  }
  .property-search-form-wrapper {
    @apply p-4 bg-white dark:bg-gray-950 rounded-md;
  }

  .form-wrapper {
    @apply w-full md:w-2/5 h-full p-4 mx-auto border rounded-sm bg-white;
  }
}

.property-image-gallery-slider {
  height: 650px;
}

.swiper-button-prev {
  width: auto !important;
  height: auto !important;
  background: #fff;
  left: 0 !important;
  color: orange !important;
  font-size: 10px !important;
  padding: 1rem !important;
  border-radius: 0 0.5rem 0.5rem 0 !important;
}

.swiper-button-next {
  width: auto !important;
  height: auto !important;
  background: #fff;
  right: 0 !important;
  color: orange !important;
  padding: 1rem !important;
  border-radius: 0.5rem 0 0 0.5rem !important;
}
.swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: bold !important;
}

.swiper-button-next::after {
  font-size: 25px !important;
  font-weight: bold !important;
}

.property-gallery-thumbs-slider {
  margin-top: 0.5rem !important;
  height: 100px;
}

.property-gallery-thumbs-slider .swiper-slide {
  opacity: 0.5 !important;
}

.property-gallery-thumbs-slider .swiper-slide-thumb-active {
  opacity: 1 !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  --c: no-repeat linear-gradient(orange 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation:
    l32-1 1s infinite,
    l32-2 1s infinite;
}
@keyframes l32-1 {
  0%,
  100% {
    width: 45px;
    height: 45px;
  }
  35%,
  65% {
    width: 65px;
    height: 65px;
  }
}
@keyframes l32-2 {
  0%,
  40% {
    background-position:
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0,
      50% 0,
      50% 50%;
  }
  60%,
  100% {
    background-position:
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0,
      50% 0,
      0 0,
      50% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .property-image-gallery-slider {
    height: 300px;
  }
}
